/* 
body - #fcfaf4
maincontent - #eae7d2
CONTAINER - #51473d
menu - #797066
topbar - #51473d
*/

#container
{
    margin:auto;
    height: auto;
    width: 600px;
    background-color: #51473d;
  
    
}
/* --------------------------------------------*/
/* topbar */
/* --------------------------------------------*/ 
#topbar{
    background-image: url(pics/coffey.jpg);
    background-color: #51473d;
    background-repeat: no-repeat;
    background-position: 0px 16px;
    height: 215px;
    width: 600px;
    float:left;
    text-align: right;
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 0.60em;
    color: #eae7d2;
 
}

/* --------------------------------------------*/
/* meny */
/* --------------------------------------------*/  

#menu 
{
    display: inline-block;
    height: 35px;
}
#menu a
{
    display:none;
}
#menu ul
{
	list-style: none;
	font-weight: normal;
	text-align: center;
	font-size: 0.9em;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-right: -30px;
	margin-bottom: 5px;
	margin-left: -30px;
}

#menu ul li
{
    float: left;

}
#menu ul li a
{
	display: block;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	color: #eae7d2;
	margin-left: 1px;
	text-transform: capitalize;
	background-color: #797066;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
#menu .active a
{
    color: #888076;
    background: #eae7d2;
}

#menu ul li a:hover
{
	color: #eae7d2;
	background-color: #9c9084;
}
/* --------------------------------------------*/
/* content */
/* --------------------------------------------*/  
#content
{
	background: #eae7d2;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;	
	color: #797066;
	text-align: left;
	line-height: 20px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#maincontent
{
    float: left;
    width: 330px;
    height: auto;
    border-right: dashed Gray 1px;
    margin-right: 8px;
    padding: 7px;
}

#maincontent img {
    float: left;
    padding-right: 5px;

}
#maincontent h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	font-weight: lighter;
}

h2{
    font-family:times, sans-serif; 
    font-size:14px;
    font-weight:normal;
}
/* --------------------------------------------*/
/* subcontent */
/* --------------------------------------------*/  
#subcontent
{
    padding-top: 17px;
    margin: auto;
    font-size: 0.8em;
}

#subcontent li {
    display: block;
}
#subcontent ul
{
    font-size: 12px;
}

#subcontent h1 {
    font-size: 18px;
}

/* --------------------------------------------*/
/* bottomcontent */
/* --------------------------------------------*/  
#bottomcontent {
    background-color: #eae7d2;
    font-size: 10px;
    font-style: italic;
    font-family: verdana;
    overflow:auto;
    width: 500px;
    height: auto;
}





